* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Halyard Display', sans-serif;
    font-style: normal;
}
@font-face {font-family: "Halyard Text Regular";
    src: url("89248b0583721153668df86453b579de.eot"); /* IE9*/
    src: url("89248b0583721153668df86453b579de.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("89248b0583721153668df86453b579de.woff2") format("woff2"), /* chrome、firefox */
    url("89248b0583721153668df86453b579de.woff") format("woff"), /* chrome、firefox */
    url("89248b0583721153668df86453b579de.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("89248b0583721153668df86453b579de.svg#Halyard Text Regular") format("svg"); /* iOS 4.1- */
  }
.container {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_header{
    max-width: 1180px;
    width: 100%;
    margin: auto;
}
.block_header{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 107px;
}
.menu_button{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 80px;
    text-decoration: none;
    color: #1E266D;
    padding-right:30px;
}
.tel{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 80px;
    text-decoration: none;
    color: #1E266D;
    margin-right: 50px;
}
.button_header{
    margin-left: 224px;
}
.button{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 100px;
    padding: 10px 16px 10px 14px;
    cursor: pointer;
}
.button--primary {
    background: #3751FF;
    color: #FFFFFF;
    border:none;
}
.section_digits{
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
}
.block_digits_title{
    margin:auto;
    margin-top: 144px;
    width: 1178px;
}
.section_title{
    margin:auto;
    font-family:"Halyard Text Regular" sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    text-align: center;
    color: #1E266D;
}
.digits_text{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #455880;
}
.digits_text_block{
    width: 1180px;
    text-align: center;
    margin-top: 27px;
    margin-left: 210px;
}
.buttons_digits{
    margin-top: 29px;
    padding-bottom: 483px;
}
.button_digits1{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 100px;
    padding: 18px 34px 18px 34px;
    cursor: pointer;
    margin-right: 22px;
}
.button_digits2{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 100px;
    padding: 18px 38px 18px 38px;
    cursor: pointer;
}
.button--primary1 {
    color:#455880;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border:none;
}
.buttons_digits{
    margin-left: 615px;
}
.digits_img{
    position: absolute;
    margin-top: -450px;
    margin-left: 342px;
}
.grey_text{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
    margin:auto;
    margin-top: 200px;
    margin-bottom: 49px;
}
.company_block{
    display: flex;
    justify-content: center;
}
.company_img{
    margin-top: 49px;
    padding-right: 72px;
    margin-bottom: 162px;
}
.people_image{
    position: absolute;
    margin-top: 500px;
    padding-bottom: 160px;
}
.icon{
    padding-top: 126px;
    padding-left: 984px;
}
.people_title{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:22px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #1E266D;
    margin-left: 1089px;
    margin-top: -60px;
    line-height: 125%;
}
.people_text{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #455880;
    line-height: 27px;
    margin-left: 1089px;
    width: 300px;
    padding-top: 25px;
}
.section_design{
    margin-top: 150px;
    padding-top: 139px;
    background:#FFF9EA;
}
.design_text{
    font-family:"Halyard Text Regular" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: #455880;    
    padding-top: 40px;
    padding-bottom: 40px;
}
.button_design{
    margin-left: 728px;
    margin-bottom: 37px;
}
.design_img{
    cursor: pointer;
}

.reviews {
    max-width: 1180px;
    width:100%;
    margin-bottom: 150px;
}

.reviews_title{
    padding-top: 250px;
    padding-bottom: 56px;
}
.reviews_block{
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    max-width: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.people_text_review{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #455880;
    line-height: 180%;
    width: 300px;
    min-height: 211px;    
}
.reviews_img{
    margin-left: 105px;
    margin-bottom: 23px;
    max-width: 64px;
    max-height: 64px;
}
.people_review{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:22px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #1E266D;
    line-height: 125%;
    padding-top: 23px;
    text-align: center;
    margin-left: 5px;
}
.ssilka{
    margin-top: 0;
    margin-left: 95px;
}
.people_text_block{
    padding-left: 0px;
    max-width: 340px
}
.reviews_block {
    height: 467px;
    padding: 38px 44px 450px 43px;
    margin-right: 30px;
}
.happy-user {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin-top: 39px;
}
.others {
    display: flex;
    max-width: 1180px;
}
.intouch {
    background: #3751FF;
    padding: 88px 211px 88px 205px;
    margin-bottom: 47px;
}
.intouch_title {
    font-family:"Halyard Text Regular" sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
}
.launch_text {
    display: flex;
    justify-content: space-between;
}
.intouch_button {
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #1E266D;
    line-height: 110%;
    margin-left: 5px;
    padding: 17px 31px 13px 60px;
    background: #FFFFFF url(../img/messag.png) no-repeat top 17px left 23px;
}
.launch_submit {
    align-items:center;
    padding-top: 13px;
}
.launch_submit.button--primary1 {
    color: #455880;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
}
.intouch_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #DFE0EB;
    padding-top: 19px;
}
.studio {
    color:yellow;
    text-decoration: none;
}
.section_footer{
    max-width: 1180px;
    width: 100%;
    margin: auto;
    margin-top: 128px;
}
.footer_top{
    display: flex;
    border-bottom: 1px solid rgba(135, 146, 161, 0.08);
    padding-bottom: 77px;
}
.footer_title{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:22px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #1E266D;
    margin-bottom: 22px;
}
.footer_column2{
    display: flex;
    flex-direction: column;
    margin-left: 184px;
}
.footer_menu{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    color:#455880;
    padding-bottom: 15px;
}
.socials_footer{
    cursor: pointer;
    margin-bottom: 24px;
}
.footer_bottom{
    margin-top: 53px;
    margin-bottom: 107px;
}
.copyright{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(69, 88, 128, 0.5);
}
.socials_img {
    margin-right: 25px;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
}
.f_s{
    font-family:"Halyard Text Regular" sans-serif !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    text-align: right;
    color: #455880;
    text-decoration: none;
    padding-right: 22px;
}